<ion-view view-title="Haberler">
  <ion-content class="lightgray-bg">
    <ion-refresher pulling-text="Kaydır ve yenile..." on-refresh="vm.haberlerInvesting()">
    </ion-refresher>
    <ion-list>
      <div class="card" ng-repeat="item in vm.list">
        <a class="item item-thumbnail-left" href="{{item.link}}">
          <img src="./img/inv.png">
          <h2>{{item.title}}</h2>
          <p>{{item.author}}</p>
          <p>{{item.publishedDate}}</p>
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
