<ion-view view-title="Hisse Öneri">
    <ion-content>
      <button ng-click="vm.oneriInvesting()">CLICK</button>
        <ion-list>
            <ion-item>
                <div class="col col-20" style="float:left;">{{vm.count}}</div>
                <div class="col col-20" style="float:left;">Kapaniş</div>
                <div class="col col-25" style="float:left;">Hedef Fiyat</div>
                <div class="col col-33" style="float:left;">Getiri Potansiyeli</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
