<ion-view view-title="İzle-Al-Sat">
  <ion-content class="lightgray-bg">
    <ion-refresher pulling-text="Kaydır ve yenile..." on-refresh="vm.getirListe()">
    </ion-refresher>
    <ion-list>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" ng-model="txt" placeholder="Arama">
        </label>
      </div>
      <ion-item class="item-divider ">
        <div class="col col-25" style="float:left;">Hisse</div>
        <div class="col col-30" style="float:left;">Son Fiyat</div>
        <div class="col col-30" style="float:left;">Değişim</div>
        <div class="col col-15" style="float:left;">İzle</div>
      </ion-item>
      <ion-item class="custom-item" ng-href="#/app/alsat/{{item.symbol}}" collection-repeat="item in vm.liste | filter:{symbol: txt}">
        <div class="col col-25" style="float:left;">{{item.symbol}}</div>
        <div class="col col-30" style="float:left;">{{item.price}}</div>
        <div class="col col-30 {{item.degisimCss}}" style="float:left;">% {{item.degisim}}
        </div>
        <div class="col col-15" style="float:left;">
          <label class="toggle toggle-balanced">
            <input type="checkbox" ng-model="item.izle" ng-click="vm.takipListesineEkleCikar(item.index, item.symbol);$event.stopPropagation()">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>